body>* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

wrapper>* {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
        /* width: max-content; */
}

header {
    z-index: 1001;
    position: relative;
    font-weight: 700;
    text-transform: capitalize;
    background: white;
    min-height: 42px;
    box-shadow: -3px -1px 6px currentColor;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* width: inherit; */
    min-width: max-content;
}

article>.content {
    height: 100%;
    overflow: auto;
    /* padding: 1rem; */
    /* padding-top: 100px; */
    position: relative;
    /* padding-top: 0; */
    width: inherit;
}

.pad {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pad.none {
    text-align: unset;
    display: block;
}

.pad>h1 {
    margin-bottom: 0;
}

.pad>p {
    text-transform: lowercase;
}

article>.content>.cards,
.pad {
    padding: 1rem;
}

side-bar {
    display: none;
    width: 0;
    /* max-width: 0;
min-width: 0; */
display: flex;
    width: 400px;
}

[open]>side-bar {
    /* width: 100%; */
}

.pgbar {
    max-width: 100%;
}

.pg {
    padding: 24px 0px;
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    /* margin: 20px 0; */
    align-items: baseline;
    position: fixed;
    position: absolute;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    /* right: 50%; */
    z-index: 2;
    /* background: #ffffff28; */
    pointer-events: none;
    /* backdrop-filter: blur(6px); */
    /* border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px; */
}
.pg .case-wrapper{
    box-shadow: 0 0 9px -2px rgba(57, 57, 57, 0.52);
    backdrop-filter: blur(2px);
    display: inline-flex;
    background-color: rgba(229, 238, 240, 0.58);
    border-radius: 12px;
    padding: 12px 46px;
    overflow: hidden;
    font-size: 18px;
}
.pg .case[disable="true"]{
    pointer-events: none;
    opacity: 0.5;
}
.pg .case{
    display: block;
    pointer-events: all;
    border: 1px solid;
    padding: 6px;
    margin-right: 4px;
}
.pg input.case{
    outline: none;
    max-width: 71px;
    border-color: black;
    background: none;
}
.pg .case:first-child{
    border-radius: 12px 0 0 12px;
}
.pg .case:last-child{
    margin-right: 0;
    border-radius: 0 12px 12px 0;
}
.pgp {
    max-width: 90%;
    width: 300px;
}

.pgwp {
    position: relative;
    pointer-events: auto;
    display: flex;
    max-width: 92%;
}

.ui.button.icon {
    margin: 0;
    border-radius: 0;
}

.pgwp button {
    /* position: absolute; */
    top: 18px;
}

.pgwp {
    box-shadow: 2px 2px 6px #000000a6;
    border-radius: 12px;
}

.pgwp button.right.icon {
    right: -24px;
    border-radius: 0px 12px 12px 0px;
}

.pgwp button.left.icon {
    border-radius: 12px 0px 0px 12px;
    left: -21px;
}

.pgwp button i {
    /* position: absolute; */
    left: 50%;
    right: 50%;
    /* transform: translate(-50%,-50%); */
}

.input.loading {
    pointer-events: none;
}

.pending,
.ui.tiny.image.pending,
.ui.image.pending {
    height: 442px;
    width: 300px;
    position: relative;
}

.pending::before {
    width: 300px;
    height: 100%;
    content: "loading...";
    color: #ffffff;
    background-color: #00000073;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe>iframe {
    border: 1px solid;
}

.iframe.loading {
    position: relative;
    display: inline-block;
    pointer-events: none;
}

.iframe.loading>* {
    pointer-events: auto;
}

.iframe.loading::before {
    font-family: Icons;
    width: 100%;
    height: 100%;
    content: " \f04b";
    color: #ffffff;
    background-color: #0000008d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    pointer-events: none;
}

.saved-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.saved-wrapper {
    border: 1px solid #a7a7a7;
    margin: 12px 3px;
    /* box-shadow: 1px 2px 4px black; */
    overflow: hidden;
}
.saved-wrapper>.image {
        height: 230px;
        position: relative;
        display: flex;
        justify-content: center;
    }
.saved-wrapper>.image>img{
    max-height: 100%;
    min-width: 156px;
}
.saved-wrapper>.image>.node {
    position: absolute;
    text-align: center;
    backdrop-filter: blur(4px);
    background: #00000094;
    color: #ffffff;
    padding: 3px 9px;
}
.saved-wrapper>.image>.imdb-rating{
top: 0;
right: 0;
/* color: #ffc067; */
}
.saved-wrapper>.image>.title{
        bottom: 0;
}

.search{
    font-size: .78571429em;
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    color: rgba(0,0,0,.87);
}
div.search>input{
    padding-right: 2.67142857em!important;
    margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}
div.search>i.icon {
    cursor: default;
    position: absolute;
    line-height: 1;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: 0 .28571429rem .28571429rem 0;
    transition: opacity .3s ease;
}
div.search>i.icon:before {
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: -.5em;
}

.des{
    height: 100px;
    overflow: hidden;
    position: relative;
}
.des::after{
    content: "";
    display: block;
    background: linear-gradient(0deg, #e2e2e2 0%, transparent 100%);
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: -1px;
    backdrop-filter: blur(1px);
}
@media only screen and (max-width: 522px) {
    .saved-list {
        justify-content: center;
    }
}
@media only screen and (max-width: 462px) {
    .pg .case-wrapper {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        border-radius: 0;
        justify-content: center;
    }
    .pg{
        padding: 0;
    }
    .pg>.case-wrapper>.case{
        border-radius: 6px;
    }
}